.collections-component{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.collections-tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-size: 20px;
}
.all-collections-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-collections-tag button{
    background-color: transparent;
    border: 2px solid black;
    font-weight: bolder;
    margin: 0px;
    padding: 5px 12px;
    font-size: 11px;
    outline: none;
    text-transform: uppercase;
}
.all-collections-tag button:hover{
    cursor: pointer;
}
.collections-tag p{
    margin: 0;
    padding: 0;
}
.collections-tag hr{
    width: 100%;
}
.matte-section{
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    width: 60%;
    height: 230px;
}
.polarized-section{
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    width: 60%;
    height: 230px;
}
.prescription-section{
    margin-bottom: 1vh;
    align-items: center;
    display: flex;
    width: 60%;
    height: 230px;
}
.product-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
}
.product-card:hover{
    cursor: pointer;
}
.collections-sold-out{
    text-transform: uppercase;
    position: absolute;
    font-weight: bolder;
    font-size: 13px;
    right: 0px;
    left: 0px;
    top: -30px;
}
.collections-align-title{
    position: relative;
}
.collections-align-title p{
    margin: 2px;
}
.align-price{
    font-size: 14px;
    font-weight: bolder;
}
.product-card img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.type-tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 5vh;
    font-size: 20px
}
.type-tag button{
    background-color: transparent;
    border: 2px solid black;
    font-weight: bolder;
    margin: 0px;
    padding: 5px 12px;
    font-size: 11px;
    outline: none;
}
.type-tag button:hover{
    cursor: pointer;
}
.collections-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.collections-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.collections-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.collections-prev-home:hover{
    cursor: pointer;
}
.collections-prev-arrow{
    color: rgb(149,149,149);
}
.collections-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}

@media(max-width: 425px){
    .collections-prev{
        width: 100%;
        justify-content: center;
    }
    .collections-icons{
        display: none;
    }
    .collections-prev p{
        font-size: 3vw;
    }
    .collections-tag{
        width: 100%;
    }
    .all-collections-tag{
        display: flex;
        flex-direction: column;
    }
    .all-collections-tag p{
        font-size: 6vw;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    .type-tag{
        flex-direction: column;
        width: 100%;
        margin-top: 3vh;
    }
    .type-tag p{
        font-size: 4.5vw;
        margin-bottom: 1vh;
    }
    .type-tag button{
        font-size: 2.5vw;
    }
    .matte-section{
        margin-top: 3vh;
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    .polarized-section{
        margin-top: 3vh;
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    .prescription-section{
        margin-top: 3vh;
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    .product-card{
        width: 100%;
        height: 25%;
    }
}