.collections-component{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.collections-tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-size: 20px;
}
.all-collections-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-collections-tag button{
    background-color: transparent;
    border: 2px solid black;
    font-weight: bolder;
    margin: 0px;
    padding: 5px 12px;
    font-size: 11px;
    outline: none;
    text-transform: uppercase;
}
.collections-tag p{
    margin: 0;
    padding: 0;
}
.collections-tag hr{
    width: 100%;
}
.matte-section{
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    width: 60%;
    height: 230px;
}
.polarized-section{
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    width: 60%;
    height: 230px;
}
.prescription-section{
    margin-bottom: 1vh;
    align-items: center;
    display: flex;
    width: 60%;
    height: 230px;
}
.product-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
.collections-sold-out{
    text-transform: uppercase;
    position: absolute;
    font-weight: bolder;
    font-size: 13px;
    right: 0px;
    left: 0px;
    top: -30px;
}
.collections-align-title{
    position: relative;
}
.collections-align-title p{
    margin: 2px;
}
.align-price{
    font-size: 14px;
    font-weight: bolder;
}
.product-card img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.type-tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 5vh;
    font-size: 20px
}
.type-tag button{
    background-color: transparent;
    border: 2px solid black;
    font-weight: bolder;
    margin: 0px;
    padding: 5px 12px;
    font-size: 11px;
    outline: none;
}
.type-tag button:hover{
    cursor: pointer;
}