.cart-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-main-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-main{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-category-box{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}
.cart-category-box hr{
    width: 100%;
}
.cart-categories{
    width: 100%;
    display: flex;
}
.cart-align-product-cat{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.cart-align-price-cat{
    width: 20%;
    display: flex;
    justify-content: flex-start;
}
.cart-align-quantity-cat{
    width: 20%;
    display: flex;
    justify-content: flex-start;
}
.cart-align-total-cat{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
.cart-categories p{
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
}
.shopping-cart-tag{
    width: 60%;
}
.shopping-cart-tag p{
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
}
.cart-product-section{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.cart-product-card{
    width: 100%;
    height: 16vh;
    box-sizing: border-box;
    padding-top: 3vh;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.cart-pro-title-section{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
}
.cart-pro-title-section p{
    margin: 0;
    font-size: 21px;
    text-transform: uppercase;
} 
.cart-pro-title-section img{
    height: 100%;
    width: auto;
}
.cart-pro-price-section{
    width: 20%;
    display: flex;
    justify-content: flex-start;
}
.cart-pro-price-section p{
    font-size: 20px;
    margin: 0;
}
.cart-pro-quantity-section{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cart-pro-quantity-align{
    position: relative;
}
.align-remove{
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
.align-remove p{
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(185,185,185);
}
.align-remove p:hover{
    color: black;
    cursor: pointer;
}
.cart-pro-total-section{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
.align-button-total{
    display: none;
}
.cart-pro-total-section p{
    font-size: 20px;
    margin: 0;
    font-weight: bolder;
}
#cart-pro-quantity-value{
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: transparent;
    border: 2px solid rgb(153,153,153);
}
#cart-pro-quantity-value:disabled{
    color: black;
}
.cart-pro-quantity-section button{
    padding: 5px;
    background-color: transparent;
    border: 2px solid rgb(153,153,153);
}
.cart-pro-quantity-section button:focus{
    outline-color: black;
}
.cart-product-bar{
    width: 100%;
    position: absolute;
    top: 0;
}
.cart-checkout-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 15vh;
    margin-top: 3vh;
}
.cart-message{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cart-message p{
    font-size: 16px;
    margin: 0;
}
.cart-message textarea{
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
}
.cart-checkout-sub{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cart-checkout-sub{
    font-style: italic;
}
.cart-subtotal{
    font-size: 20px;
    font-weight: bolder;
}
.cart-checkout-sub button{
    width: 100%;
    background-color: black;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
.cart-checkout-sub button:hover{
    cursor: pointer;
}
#cart-continue-browsing{
    color: rgb(153,153,153);
    text-decoration: underline;
}
#cart-continue-browsing:hover{
    cursor: pointer;
}
.cart-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.cart-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.cart-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.cart-prev-home:hover{
    cursor: pointer;
}
.cart-prev-arrow{
    color: rgb(149,149,149);
}
.cart-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}
@media(max-width: 1366px){
    .cart-prev{
        width: 70%;
    }
    .shopping-cart-tag{
        width: 70%;
    }
    .cart-main{
        width: 70%;
    }
}
@media(max-width: 425px){
    .cart-prev{
        width: 100%;
        justify-content: center;
    }
    .cart-icons{
        display: none;
    }
    .shopping-cart-tag{
        width: 100%;
    }
    .cart-category-box{
        display: none;
    }
    .cart-main{
        width: 95%;
    }
    .cart-product-section{
        width: 100%;
        align-items: center;
        height: auto;
    }
    .cart-product-card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 25vh;
    }
    .cart-pro-title-section{
        width: 100%;
        height: 60%;
    }
    .cart-pro-title-section p{
        font-size: 4vw;
    }
    .cart-checkout-section{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cart-pro-quantity-section{
        width: 100%;
        flex-direction: row;
    }
    .cart-pro-quantity-align{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: blanchedalmond;
    }
    .align-button-total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .cart-message{
        width: 100%;
    }
    .cart-pro-price-section{
        display: none;
    }
    .align-remove{
        position: relative;
        top: auto;
        bottom: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}