.connect-comp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connect-img{
    width: 40%;
}
.connect-header{
    width: 60%;
    margin-bottom: 2vh;
}
.connect-header p{
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
}
.connect-main{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connect-data{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 45%;
    margin: 1vh;
}
.connect-data input{
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    padding: 5px;
    border-style: solid;
    border-color: rgb(153,153,153);
}
.connect-data input:focus{
    outline: none;
}
.connect-data label{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5px;
}
.connect-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin: 1vh;
}
.connect-text label{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5px;
}
.connect-text textarea{
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 20vh;
    background: transparent;
    padding: 5px;
    border: 2px;
    border-style: solid;
    border-color: rgb(153,153,153);
}
.connect-text textarea:focus{
    outline: none;
}
.connect-button-box{
    width: 45%;
}
.connect-button{
    width: 100%;
    background-color: black;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
.connect-button:hover{
    cursor: pointer;
}
.connect-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.connect-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.connect-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.connect-prev-home:hover{
    cursor: pointer;
}
.connect-prev-arrow{
    color: rgb(149,149,149);
}
.connect-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}
@media(max-width: 1366px){
    .connect-prev{
        width: 70%;
    }
    .connect-header{
        width: 70%;
    }
    .connect-main{
        width: 65%;
    }
}
@media(max-width: 425px){
    .connect-prev{
        width: 100%;
        justify-content: center;
    }
    .connect-icons{
        display: none;
    }
    .connect-header{
        width: 100%;
    }
    .connect-header p{
        font-size: 6vw;
    }
    .connect-img{
        width: 95%;
    }
    .connect-main{
        width: 100%;
    }
    .connect-data{
        width: 70%;
    }
    .connect-text{
        width: 70%;
    }
    .connect-button-box{
        width: 70%;
    }
}