.account-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.account-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.account-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.account-prev-home:hover{
    cursor: pointer;
}
.account-prev-arrow{
    color: rgb(149,149,149);
}
.account-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}
.no-account-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.no-account-text{
    text-transform: uppercase;
}
.no-account-text b:hover{
    color: grey;
    cursor: pointer;
}
.my-account-tag{
    width: 100%;
}
.my-account-tag p{
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
}
.account-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}
.history-products{
    height: 100%;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    padding: 1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.history-products p{
    text-transform: uppercase;
    font-size: 1.2vw;
}
.order-tag{
    font-size: 20px;
    margin-left: 1%;
    font-style: italic;
}
.history-element{
    border: 2px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1vh;
    height: 20vh;
}
.history-element hr{
    width: 100%;
    margin-top: 0;
}
.account-tag-columns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-list{
    width: 100%;
    height: stretch;
    overflow-y: scroll;
}
.account-align-product-img{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.account-align-product-img img{
    height: 100%;
    width: auto;
    margin-right: 10px;
}
.account-align-product-img div{
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: grey;
    border-radius: 50%;
    padding: 2%;
}