.story-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: .75s ease-in-out;
}
.no-story-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
.story-header-tag{
    margin-bottom: 2vh;
    width: 60%;
}
.story-header-tag p{
    margin: 0;
    font-size: 25px;
}
.story-header-tag hr{
    width: 100%;
}
.story-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.story-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.story-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.story-prev-home:hover{
    cursor: pointer;
}
.story-prev-arrow{
    color: rgb(149,149,149);
}
.story-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}
.story-text-info{
    margin-top: 3vh;
    width: 60%
}
.story-text-info p{
    line-height: 1.6;
    font-weight: lighter;
}
@media(max-width: 1366px){
    .story-prev{
        width: 70%;
    }
    .story-header-tag{
        width: 70%;
    }
}
@media(max-width: 425px){
    .story-header-tag{
        width: 100%;
    }
    .story-prev{
        width: 100%;
        justify-content: center;
    }
    .story-icons{
        display: none;
    }
    .story-prev p{
        font-size: 3vw;
    }
    .story-header-tag{
        margin-bottom: 0;
    }
    .story-text-info{
        width: 95%;
    }
}