.header-component{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1%;
    width: 100%;
    height: 5vh;
    background-color: black;
    overflow: hidden;
    transition: .5s;
}
.header-search-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    /* padding-bottom: .5%; */
    transition: .5s;
    width: 100%;
    height: 15vh;
    background-color: black;
}
.user{
    color: white;
}
.align-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}
.header-search-box{
    width: 70%;
    height: 40px;
    font-size: 30px;
}
.none-header-search{
    display: none;
}
.left-section .search-icon{
    color: white;
    margin-right: 5px;
    font-size: 14px;
}
.left-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
}
.left-section p{
    font-size: 14px;
    color: white;
}
.left-section:hover .search-icon{
    color: rgb(51, 51, 51);
}
.left-section:hover .left-section-button{
    color: rgb(51, 51, 51);
}
.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-section *{
    margin: 8px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.login-border{
    border-right: 1px solid rgb(51, 51, 51);
    height: 25px;
}
.link{
    font-family: Montserrat;
    text-decoration: none;
}