.nav-component{
    display: flex;
    width: 60%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.main-link{
    display: flex;
    text-decoration: none;
}
.main-link p{
    font-size: 18px;
}
.main-link p:first-child{
    margin-right: 10px;
}
.planet{
    font-weight: bolder;
    color: black;
}
.future{
    font-weight: lighter;
    color: rgb(70, 70, 70);
}
.nav-links *{
    text-decoration: none;
    font-size: 14px;
    margin: 1rem;
    font-weight: 600;
    color: black;
}
.nav-links *:hover{
    color: rgb(110,203,184);
}

@media(max-width: 1366px){
    .nav-component{
        width: 70%;
    }
}
@media(max-width: 425px){
    .nav-links{
        display: none;
    }
    .nav-component{
        justify-content: center;
        width: 100%;
    }
    .nav-component p{
        font-size: 5vw;
    }
}