.register-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: .75s ease-in-out;
}
.no-register-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
.register-tag{
    width: 60%;
    margin-bottom: 2vh;
}
.register-tag p{
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
}
.register-main{
    width: 60%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.register-main button{
    width: 45%;
    background-color: black;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
.register-main button:hover{
    cursor: pointer;
}
.register-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin: 1vh;
}
.register-input label{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5px;
}
.register-input input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: solid rgb(153,153,153) 2px;
}
.register-input input:focus{
    outline: none;
}
.register-return{
    color: rgb(172, 172, 172);
}
.register-return:hover{
    cursor: pointer;
}
.register-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.register-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.register-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.register-prev-home:hover{
    cursor: pointer;
}
.register-prev-arrow{
    color: rgb(149,149,149);
}
.register-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}
@media(max-width: 1366px){
    .register-tag{
        width: 70%;
    }
    .register-prev{
        width: 70%;
    }
    .register-main{
        width: 70%;
    }
}
@media(max-width: 425px){
    .register-prev{
        width: 100%;
        justify-content: center;
    }
    .register-icons{
        display: none;
    }
    .register-tag{
        width: 100%;
    }
    .register-tag p{
        font-size: 6vw;
    }
    .register-main{
        width: 100%;
    }
    .register-input{
        width: 70%;
    }
    .register-main button{
        width: 70%;
    }
}

@media(max-height: 425px){
    .register-prev{
        width: 100%;
        justify-content: center;
    }
    .register-icons{
        display: none;
    }
    .register-tag{
        width: 100%;
    }
    .register-tag p{
        font-size: 6vw;
    }
    .register-main{
        width: 100%;
    }
    .register-input{
        width: 70%;
    }
    .register-main button{
        width: 70%;
    }
}