.search-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.search-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.search-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.search-prev-home:hover{
    cursor: pointer;
}
.search-prev-arrow{
    color: rgb(149,149,149);
}
.search-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}
.search-box{
    width: 60%;
    display: flex;
    justify-content: center;
}
.search-input{
    border-right: none;
    border-left: none;
    border-top: none;
    width: 78%;
    font-size: 20px;
    border-bottom: 2px solid rgb(149,149,149);
}
.search-result{
    margin-top: 5vh;
    width: 60%;
}
.search-result p{
    font-size: 25px;
    margin: 0;
}
.search-result hr{
    color: white;
}
.search-input:focus{
    outline: none;
}
.search-input-button{
    font-size: 23px;
    margin: 8px;
}
.search-input-button:hover{
    color: rgb(149,149,149);
}
.search-all-display{
    width: 60%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.search-all-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 24vh;
    margin-bottom: 1vh;
    margin-right: 1%;
    margin-left: 1%;
    overflow: hidden;
}
.search-all-sold-out{
    text-transform: uppercase;
    position: absolute;
    font-weight: bolder;
    font-size: 13px;
    right: 0px;
    left: 0px;
    top: -30px;
}
.search-all-card img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.search-all-align-title{
    position: relative;
}
.search-all-align-title p{
    margin: 2px;
}
#search-align-price{
    font-size: 14px;
    font-weight: bolder;
}
@media(max-width: 1366px){
    .search-result{
        width: 70%;
    }
    .search-prev{
        width: 70%;
    }
    .search-box{
        width: 70%;
    }
    .search-all-display{
        width: 70%;
    }
}
@media(max-width: 1366px){
    .search-all-align-title p{
        font-size: 15px;
    }
    #search-align-price{
        font-size: 13px;
    }
}