.search-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.search-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.search-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.search-prev-home:hover{
    cursor: pointer;
}
.search-prev-arrow{
    color: rgb(149,149,149);
}
.search-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}
.search-box{
    width: 60%;
    display: flex;
    justify-content: center;
}
.search-input{
    border-right: none;
    border-left: none;
    border-top: none;
    width: 78%;
    font-size: 20px;
    border-bottom: 2px solid rgb(149,149,149);
}
.search-result{
    width: 60%;
}
.search-result p{
    font-size: 25px;
    margin: 0;
}
.search-result hr{
    color: white;
}
.search-input:focus{
    outline: none;
}
.search-input-button{
    font-size: 23px;
    margin: 8px;
}
.search-input-button:hover{
    color: rgb(149,149,149);
}