.display-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display-component hr{
    width: 60%;
}
.display-main{
    display: flex;
    width: 60%;
    height: 52vh auto;
    margin: 1vh;
}
.display-image-box{
    width: 60%;
    height: 100%;
    margin-right: 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.display-img-choice{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 100%;
    width: 15%;
}
.display-img-choice img{
    box-sizing: border-box;
}
.display-border{
    border: 2px solid black;
}
.none-border{
    border: none;
}
.display-image-box img{
    width: 85%;
    height: auto;
}
.display-detail-box{
    width: 38%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.display-detail-box hr{
    width: 100%;
}
.display-pro-title{
    margin: 0;
    margin-bottom: 1vh;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 25px;
}
.display-pro-price{
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
}
.display-add-to-cart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.add-to-cart{
    width: 60%;
    background-color: black;
    border: black solid 1px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
.add-to-cart:hover{
    cursor: pointer;
}
.add-to-cart:disabled{
    background-color: rgb(127,127,127);
    color: rgb(230, 230, 230);
}
.add-to-cart:disabled:hover{
    cursor: initial;
}
.display-align-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.display-align-label label{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5px;
}
.quantity-amount-value{
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 2px solid rgb(153,153,153);
}
.quantity-amount-value-disabled{
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border: 2px solid rgb(153,153,153);
}
.quantity-amount-value:disabled{
    color: black;
}
.quantity-amount-buttons{
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(153,153,153);
}
.quantity-amount-buttons:disabled:hover{
    cursor: initial;
}
.quantity-amount-buttons:focus{
    outline: none;
    border: 2px solid black;
}
.quantity-amount-buttons:hover{
    cursor: pointer;
}
.detail-list{
    text-align: start;
}
.list-row{
    margin-bottom: 1vh;
}
.detail-additional{
    margin: 0;
    text-transform: uppercase;
    font-weight: bolder;
}
.align-additional-remaining{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.product-remaining{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 14px;
}
.product-remaining b{
    font-size: 20px;
}
.display-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.display-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.display-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.display-prev-home:hover{
    cursor: pointer;
}
.display-prev-arrow{
    color: rgb(149,149,149);
}
.display-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}

@media(max-width: 1440px){
    .quantity-amount-value{
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: transparent;
        border: 2px solid rgb(153,153,153);
    }
    .quantity-amount-value-disabled{
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: transparent;
        border: 2px solid rgb(153,153,153);
    }
    .quantity-amount-buttons{
        padding: 8px;
        background-color: transparent;
        border: 2px solid rgb(153,153,153);
    }
    .add-to-cart{
        padding: 8px;
        width: 50%;
    }
    .detail-additional{
        font-size: 13px;
    }
    .product-remaining b{
        font-size: 18px;
    }
}

@media(max-width: 1366px){
    .display-pro-title{
        font-size: 20px;
    }
    .display-pro-price{
        font-size: 17px;
    }
    .detail-additional{
        font-size: 11px;
    }
    .product-remaining b{
        font-size: 15px;
    }
}