.collections-all-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collections-all-tag{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.collections-all-tag p{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.collections-all-tag hr{
    width: 100%;
}
.collections-all-display{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.collections-all-product{
    width: 24%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    background-color: antiquewhite;
}