.collections-all-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collections-all-tag{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.collections-all-tag p{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 20px;
}
.collections-all-tag hr{
    width: 100%;
}
.collections-all-display{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.collections-all-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 22vh;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1vh;
    overflow: hidden;
}
.collections-all-sold-out{
    text-transform: uppercase;
    position: absolute;
    font-weight: bolder;
    font-size: 13px;
    right: 0px;
    left: 0px;
    top: -30px;
}
.collections-all-card img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.collections-all-align-title{
    position: relative;
}
.collections-all-align-title p{
    margin: 2px;
}
#all-align-price{
    font-size: 14px;
    font-weight: bolder;
}
.collections-all-prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 1vh;
    margin-bottom: .5vh;
}
.collections-all-prev-left{
    display: flex;
    align-items: center;
    font-size: 10px;
}
.collections-all-prev-left p{
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}
.collections-all-prev-home:hover{
    cursor: pointer;
}
.collections-all-prev-arrow{
    color: rgb(149,149,149);
}
.collections-all-icons *{
    font-size: 20px;
    margin-right: .5vw;
    color: black;
}

@media(max-width: 1440px){
}

@media(max-width: 1366px){
    .collections-all-align-title p{
        font-size: 15px;
    }
    #all-align-price{
        font-size: 13px;
    }
    .collections-all-prev{
        width: 70%;
    }
    .collections-all-tag{
        width: 70%;
    }
    .collections-all-display{
        width: 70%;
    }
}
@media(max-width: 425px){
    .collections-all-prev{
        width: 100%;
        justify-content: center;
    }
    .collections-all-icons{
        display: none;
    }
    .collections-all-prev-left p{
        font-size: 3vw;
    }
    .collections-all-tag{
        width: 100%;
        align-items: center;
    }
    .collections-all-tag p{
        font-size: 6vw;
    }
    .collections-all-display{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .collections-all-card{
        width: 90%;
        height: auto;
    }
}